 <!-- Start Page Loading -->
  <!--div class="loading"><img src="app/assets/img/loading.gif" alt="loading-img"></div -->
  <!-- End Page Loading -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<app-header></app-header>
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEBAR -->
<app-sidebar></app-sidebar>

<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-no-padding clearfix">

<div class="col-md-6 col-lg-4">
      <!-- Start Post -->
          <div class="panel panel-default">
              <div class="panel-heading">Category Income</div>
            <div class="panel-body status">
              <ul class="panel-tools panel-tools-hover">
                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
              </ul>          
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>    
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of incomeCategories">
                            <td>
                                {{category.name}}
                            </td>
                            <td>
                                {{category.catAmt}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Total</strong>
                            </td>
                            <td>
                                <strong>{{totalIncome}}</strong>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>  
            </div>
          </div>
        <!-- End Post -->
</div>
  
<div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">Charts</div>
        <div class="panel-body">

             <area-chart></area-chart>
           
        </div>
    </div>
</div>
</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 

</div>
<!-- End Content -->
